# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.aux
*.log
*.idx
*.dvi
*.out
*.ps
*.pdf
*.classpath
*.project
*.settings
*.class
.dotest/*
.svn/*
*~
*/target/**
*.ser
*.DS_Store
build/classes/*
web/WEB-INF/classes/
junitvmwatcher*.properties
bin/
infinitest.filters

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
